body {
    font-size:10pt;
    background: red;
}

/* page break dans un flow */
.pageBreak {
    -webkit-region-break-after:always;
}

.footnote-mark {
    font-size: 0.6em;
    vertical-align: 20%;
}

.footnote-foot {
    margin:0 0 1mm 3mm;
    line-height: 1.2em;
    font-size: 7pt;
}

.footnote-header {
    width:15mm;
    height:1px;
    background:black;
    margin-bottom:1mm;
}

h1[title]:before {
  content:attr(title)" ";
}
