
#book_tab_toc {
  background-image:url(../images/ap_edit-list.png);
}

#book_toc_add {
  background-image:url(../images/ap_plus.png);
}

#book_toc_del {
  background-image:url(../images/ap_minus.png);
}

#book_toc_up {
  background-image:url(../images/ap_up.png);
}

#book_toc_down {
  background-image:url(../images/ap_down.png);
}

#book_toc_creat {
  background-image:url(../images/ap_edit-list.png);
}

#book_toc_genrerate {
  background-image:url(../images/ap_tocgenerate.png);
}